extends layout/layout.jade
block css
    link(href='/css/login.css', rel='stylesheet', type='text/css')
block content
    form.form-signin(method='POST')
        if message
            .alert.alert-danger(role='alert')
                strong Giriş yapılamadı,
                | #{message} :(

        h2.form-signin-heading Giriş yap

        label.sr-only(for='inputEmail') Kullanıcı adı
        input#inputEmail.form-control(type='text', name='username', placeholder='Kullanıcı adı', required, autofocus)

        label.sr-only(for='inputPassword') Şifre
        input#inputPassword.form-control(type='password', name='password', placeholder='Şifre', required)

        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
